<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>{% block title %}Mi App{% endblock %}</title>
    <link 
     rel= "stylesheet"
     href = "../static/css/styles.css"
    />

</head>
<body>
    <header>

        <h1>Mi Aplicación prueba </h1>
        <nav>
            <a href="/">Inicio</a> |
            <a href="/productos">Productos</a> |
            <a href="/usuarios">Usuarios</a>
            
        </nav>

    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p> &copy; 2025 Mi App</p>
    </footer>
</body>
</html>
