{% extends 'base.html' %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<h2>Lista de Usuarios</h2>

<ul class="list-group list-group-flush">
    
        
   <h5> <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        Nombres y apellidos de los usuarios
      </button>
    </h5>
    
    {% for usuario in usuarios %}
    
    <button type="button" class="list-group-item list-group-item-action">{{ usuario|upper }}</button>

    {% endfor %}
</ul>



{% endblock %}
